@import "../../themes/default.less";

.whole {

  display: flex;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  .wrapper {

    box-shadow: 10px 10px 10px 10px #BDBDBD;
    background-color: white;
    height: 60%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;


    .leftWrapper {
      height: 100%;
      width:50%;

      color: white;
      padding:5% ;
      background-image:  linear-gradient(120deg, #68c28a 0%, #8fd3f4 100%);;
    //  background-image: linear-gradient(15deg, rgba(19, 84, 122, 0.72) 0%, rgba(128, 208, 199, 0.56) 100%);
      flex-direction: column;

      .leftTitle {
        font-size: large;
      }
      .subtitle {
        font-size: xx-large;
        margin-top:40px;
        margin-bottom: 30px;

      }

      .leftContent {
        margin-left:10%;
        text-align: left;
        font-size: medium;
      }
    }

    .rightWrapper {
      height: 100%;
      width:50%;

      color:black;
      padding:5% ;
      text-align:center;
      .rightTitle{
        text-align:left;
        font-size:larger;
        font-weight: 700;
      }
      .loginInput{
        margin-top:40px;
        margin-bottom: 30px;
      }
      .hintText{
        color:#68c28a
      }
    }

  }

  .hidden {
    display: none;
  }


}
