@import "../../themes/default.less";

.whole {
  height: 100%;
  width: 100%;


  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding-top:5%;

    .leftScoreBoard {
      width: @scoreboard-width;
      height: @scoreboard-height;
    }

    .board {
      width: @board-width;
      margin-left:5%;
      margin-right:5%;

    }

    .rightScoreBoard {
      height: @scoreboard-height;
      width: @scoreboard-width;
    }
  }
}
